<div class="user-panel row">
    <div class="col-sm-4">
      <br>
      <div class="panel panel-info">
        <div class="panel-heading" style="font-size:10px;">Coral Jovem de Novo Hamburgo</div>
        <div class="panel-body">
          <button type="button" routerLink="/painel/materiais" class="btn btn-md btn-block btn-info">Materiais</button>
          <button type="button" routerLink="/painel/eventos" class="btn btn-md btn-block btn-info">Eventos</button>
          <button disabled type="button" routerLink="/painel/eventos" class="btn btn-md btn-block btn-default">Inscrições</button>
          <button disabled type="button" routerLink="/painel/financeiro" class="btn btn-md btn-block btn-default">Financeiro</button>
          <button disabled type="button" routerLink="/painel/chamada" class="btn btn-md btn-block btn-default">Chamada</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <br>
      <div class="panel panel-primary">
        <div class="panel-heading" style="font-size:10px;">Jovens / Escola Sabatina</div>
        <div class="panel-body">
          <button disabled type="button" class="btn btn-md btn-block btn-default">Materiais</button>
          <button disabled type="button" class="btn btn-md btn-block btn-default">Inscrições</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <br>
      <div class="panel panel-warning">
        <div class="panel-heading" style="font-size:10px;">Próximas Datas</div>
        <div class="panel-body">
          <div class="panel panel-default">
            <div class="panel-body">
              <h1 style="font-size:12px;font-weight:bold;">
                25/02/2018
              </h1>
              <h2 style="font-size:10px;font-weight:bold;">
                Apresentação na IASD Central de Novo Hamburgo
              </h2>
              <p style="font-size:10px;">
                Alguma coisa foi agendada para este dia
              </p>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <h1 style="font-size:12px;font-weight:bold;">
                25/02/2018
              </h1>
              <h2 style="font-size:10px;font-weight:bold;">
                Apresentação na IASD Central de Novo Hamburgo
              </h2>
              <p style="font-size:10px;">
                Alguma coisa foi agendada para este dia
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="user-notifications row">
    <br>
    <div class="col-sm-12">
      <div class="panel panel-danger">
        <div class="panel-heading" style="font-size:10px;">Informações Gerais</div>
        <div class="panel-body">
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-body">
                <h1 style="font-size:12px;font-weight:bold;">
                  25/02/2018
                </h1>
                <h2 style="font-size:10px;font-weight:bold;">
                  Apresentação na IASD Central de Novo Hamburgo
                </h2>
                <p style="font-size:10px;">
                  Roupa preta.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-body">
                <h1 style="font-size:12px;font-weight:bold;">
                  25/02/2018
                </h1>
                <h2 style="font-size:10px;font-weight:bold;">
                  Apresentação na IASD Central de Novo Hamburgo
                </h2>
                <p style="font-size:10px;">
                  Roupa preta.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>