body{
    /* background-image: url(/assets/images/janovohamburgo/administrativo/gplaypattern.png); */
    background-repeat: repeat;
    background-attachment: fixed, fixed;
}

.text-header-right{
    vertical-align: bottom;
    text-align:right;
    float: right;
    font-size: 16px;
    margin-top: 8px;
}

.text-header-left{
    margin-top: 8px;
    float: left;
    vertical-align: bottom;
    text-align:left;
    font-size: 16px;
}

.btn-danger{
    float: right;
}

.user-header{
    margin-bottom: 2px;
}

.user-panel{
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(0, 0, 0, 0.6);
}

.user-notifications{
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(0, 0, 0, 0.6);
}

#logo{
    margin-bottom: 10px;
    margin-top: 10px;
}

.panel-heading{
    font-family: 'Gloria Hallelujah', cursive !important;
    font-size:16px;
}