<body>
  <div class="container">
    <div class="row" style="height:84px">
      <div class="col-sm-12">
        <img id="logo" height="64" src="https://docs.google.com/uc?export=download&amp;id=1e55b82_fxlV8Onp0i8-CLnjmqvz8mmxr">
      </div>
    </div>
    <div class="user-header row">
      <div class="col-sm-9" style="margin-bottom:10px">
        <h1 class="text-header-left" style="font-weight:bold">Bem vindo(a), &nbsp;</h1>
        <h2 class="text-header-left"> {{username}}</h2>
      </div>
      <div class="col-sm-3">
        <!-- <button type="button" class="btn btn-sm btn-danger">logoff</button> -->
      </div>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>