<body>
  <div class="container">
    <div class="row" style="height:84px">
      <div class="col-sm-12">
        <img id="logo" height="64" src="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/imagens%2Fcoralnh%2Flogo-branco-e-azul.png?alt=media&amp;token=5cfe4794-291a-4168-8e1f-c98d920d9133">
      </div>
    </div>
    <div class="user-header row">
      <div class="col-sm-9">
        <!-- <h1 class="text-header-left" style="font-weight:bold">Bem vindo(a), </h1>
        <h2 class="text-header-left"> Roger Zabka da Costa</h2> -->
      </div>
      <div class="col-sm-3">
        <!-- <button type="button" class="btn btn-sm btn-danger">logoff</button> -->
      </div>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>