<body>
  <div class="container">
    <div class="row" style="height:64px">
      <img id="logovertical" height="64" src="./assets/images/janovohamburgo/vertical-logo-p.png">
    </div>
    <div class="user-header row">
      <div class="col-sm-9">
        <h1 class="text-header-left" style="font-weight:bold">Bem vindo(a), </h1>
        <h2 class="text-header-left"> Roger Zabka da Costa</h2>
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-sm btn-danger">logoff</button>
      </div>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>