<div class="user-panel row">
  <div class="col-sm-12">
    <br>
    <div class="panel" style="margin-bottom:0!important;background:none;">
      <div class="panel-heading" style="height:50px;font-size:14px;font-weight:bold;color:white">
        <span style="float:left">Músicas</span>
        <!-- <button type="button" routerLink="/painel/index" style="float:right" class="btn btn-xs btn-default">Voltar</button> -->
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Grato Sou</div>
      <div class="panel-body">
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-warning button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Fgrato_sou%2FGrato_Sou_Coral.pdf?alt=media&amp;token=8bcf1047-fefd-4ff4-ac79-d9d8984e4582"
            download="Grato_Sou_Coral.pdf" target="_self">Partitura</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-primary button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Fgrato_sou%2FGRATO_SOU_COMPLETO.mp3?alt=media&amp;token=8a86f01f-717b-431b-a933-e8ec8eebad23"
            download="Grato_Sou_Completo.mp3" target="_self">Música</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Fgrato_sou%2FGRATO_SOU_BAIXO.mp3?alt=media&amp;token=9ddd1364-1a63-4c64-9970-2c07119b6aba"
            download="KIT_Grato_Sou_Baixo.mp3" target="_self">Baixo</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Fgrato_sou%2FGRATO_SOU_CONTRALTO.mp3?alt=media&amp;token=595947d4-8adc-4b54-905e-337411074646"
            download="KIT_Grato_Sou_Contralto.mp3" target="_self">Contralto</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Fgrato_sou%2FGRATO_SOU_SOPRANO.mp3?alt=media&amp;token=1d7ff5cf-d71f-402a-a0f3-161814a4262a"
            download="KIT_Grato_Sou_Soprano.mp3" target="_self">Soprano</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Fgrato_sou%2FGRATO_SOU_TENOR.mp3?alt=media&amp;token=98ac6f34-c013-4179-a614-e9d74ec05902"
            download="KIT_Grato_Sou_Tenor.mp3" target="_self">Tenor</a>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Rei da Glória</div>
      <div class="panel-body">
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-warning button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Frei_da_gloria%2FRei_da_Gloria_Coro.pdf?alt=media&amp;token=18fd8f42-33e3-43ef-b9b7-3fcbc771f73b"
            download="Rei_da_Gloria_Coro.pdf" target="_self">Partitura</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-primary button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Frei_da_gloria%2FRei_da_Gloria_Completo.mp3?alt=media&amp;token=9f9de98b-69f3-4cce-bdfc-2c39d22afe4a"
            download="Rei_da_Gloria_Completo.mp3" target="_self">Música</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Frei_da_gloria%2FKIT_Rei_da_Gloria_baixo.mp3?alt=media&amp;token=b649f07b-4fb7-4010-9e71-672979c1b1fd"
            download="KIT_Rei_da_Gloria_baixo.mp3" target="_self">Baixo</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Frei_da_gloria%2FKIT_Rei_da_Gloria_contralto.mp3?alt=media&amp;token=1f49cc11-5f80-429e-9ebe-6d90aabe40ee"
            download="KIT_Rei_da_Gloria_contralto.mp3" target="_self">Contralto</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Frei_da_gloria%2FKIT_Rei_da_Gloria_soprano.mp3?alt=media&amp;token=667df48c-baff-4af2-bc41-aa523bbb8d78"
            download="KIT_Rei_da_Gloria_soprano.mp3" target="_self">Soprano</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Frei_da_gloria%2FKIT_Rei_da_Gloria_tenor.mp3?alt=media&amp;token=69f35aa5-bd66-44ef-920f-461f4c33dc62"
            download="KIT_Rei_da_Gloria_tenor.mp3" target="_self">Tenor</a>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Vem! Essa é a hora de Adoração</div>
      <div class="panel-body">
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-warning button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Fvem_hora_de_adoracao%2FVem_Essa_e_a_hora_de_Adoracao_Coro.pdf?alt=media&amp;token=c6c75337-5263-4f33-babf-f206e95c58b2"
            download="Vem_Essa_e_a_hora_de_Adoracao_Coro.pdf" target="_self">Partitura</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-primary button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Fvem_hora_de_adoracao%2Fcompleto.mp3?alt=media&amp;token=d32361d8-813f-4bfc-85bb-50c78d0850da"
            download="Vem_Essa_e_a_hora_de_Adoracao_Completo.mp3" target="_self">Música</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Fvem_hora_de_adoracao%2Fbaixo.mp3?alt=media&amp;token=68fa6f00-d5ad-407c-91f9-9c238a50b367"
            download="KIT_Vem_Essa_e_a_hora_de_Adoracao_Baixo.mp3" target="_self">Baixo</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Fvem_hora_de_adoracao%2Fcontralto.mp3?alt=media&amp;token=c86c93f4-23eb-4154-a1df-a8525fafa5af"
            download="KIT_Vem_Essa_e_a_hora_de_Adoracao_Contralto.mp3" target="_self">Contralto</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Fvem_hora_de_adoracao%2Fsoprano.mp3?alt=media&amp;token=56c796a0-a638-4dd2-9ff6-f48ec71ad601"
            download="KIT_Vem_Essa_e_a_hora_de_Adoracao_Soprano.mp3" target="_self">Soprano</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Fvem_hora_de_adoracao%2Ftenor.mp3?alt=media&amp;token=7d6d9394-1f89-4a13-b6da-c89efdcb34fc"
            download="KIT_Vem_Essa_e_a_hora_de_Adoracao_Tenor.mp3" target="_self">Tenor</a>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">10.000 Razões</div>
      <div class="panel-body">
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-warning  button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2F10000_razoes%2F10.000%20Raz%C3%B5es%20-%20Coral.pdf?alt=media&amp;token=b993cb24-d78d-4299-9d2b-df90080ee701"
            download="Vem_Essa_e_a_hora_de_Adoracao_Coro.pdf" target="_self">Partitura</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-primary button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2F10000_razoes%2F10.000%20completo.mp3?alt=media&amp;token=7cd91450-bdf6-4de4-837f-313b7eaedc3c"
            download="Vem_Essa_e_a_hora_de_Adoracao_Completo.mp3" target="_self">Música</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2F10000_razoes%2F10.000%20baixo.mp3?alt=media&amp;token=f3dd681b-c070-47c8-b1bd-40806420950f"
            download="KIT_Vem_Essa_e_a_hora_de_Adoracao_Baixo.mp3" target="_self">Baixo</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2F10000_razoes%2F10.000%20contralto.mp3?alt=media&amp;token=58b3e724-5980-4ee1-8055-d43f39db96f8"
            download="KIT_Vem_Essa_e_a_hora_de_Adoracao_Contralto.mp3" target="_self">Contralto</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2F10000_razoes%2F10.000%20soprano.mp3?alt=media&amp;token=7fe80e8f-cbf0-4f8f-bf28-a2c111d7e89b"
            download="KIT_Vem_Essa_e_a_hora_de_Adoracao_Soprano.mp3" target="_self">Soprano</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2F10000_razoes%2F10.000%20tenor.mp3?alt=media&amp;token=de2d3cdf-2fcc-472e-8f28-da8d6b68d643"
            download="KIT_Vem_Essa_e_a_hora_de_Adoracao_Tenor.mp3" target="_self">Tenor</a>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Comigo Estás</div>
      <div class="panel-body">
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-warning  button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Fcomigo_estas%2FCOMIGO%20ESTA%CC%81S%20-%20Coral.pdf?alt=media&amp;token=342befe5-6bd5-4c50-8d2c-0fcd95b823a7"
            download="Comigo_Estas_Coro.pdf" target="_self">Partitura</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-primary button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Fcomigo_estas%2FComigo_Est%C3%A1s_completo.mp3?alt=media&amp;token=6ab313d5-acf5-4797-b240-488cc3732863"
            download="Comigo_Estas_Completo.mp3" target="_self">Música</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Fcomigo_estas%2FComigo_Est%C3%A1s_baixo.mp3?alt=media&amp;token=3ec1f05d-c1af-45f3-b666-655924664d81"
            download="KIT_Comigo_Estas_Baixo.mp3" target="_self">Baixo</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Fcomigo_estas%2FComigo_Est%C3%A1s_contralto.mp3?alt=media&amp;token=a2e4cd60-904d-4468-9c2d-e70feca5667e"
            download="KIT_Comigo_Estas_Contralto.mp3" target="_self">Contralto</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Fcomigo_estas%2FComigo_Est%C3%A1s_soprano.mp3?alt=media&amp;token=989566ea-cdc2-4cfe-8bc9-681bfe342de2"
            download="KIT_Comigo_Estas_Soprano.mp3" target="_self">Soprano</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovens-adventistas-nh.appspot.com/o/musicas%2Fcomigo_estas%2FComigo_Est%C3%A1s_tenor.mp3?alt=media&amp;token=5283c1d9-b490-477c-a9a4-cb74ffd2ac5b"
            download="KIT_Comigo_Estas_Tenor.mp3" target="_self">Tenor</a>
        </div>
      </div>
    </div>
  </div>
</div>