
.user-panel{
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(0, 0, 0, 0.6);
}

.button-materiais{
    margin-bottom: 10px;
}

.btn-warning{
    color: #525252;
    background-color: #fff400;
    border-color: #fff400;
}