<div class="user-panel row">
  <div class="col-sm-12">
    <br>
    <div class="panel" style="margin-bottom:0!important;background:none;">
      <div class="panel-heading" style="height:50px;font-size:14px;font-weight:bold;color:white">
        <span style="float:left">Músicas</span>
        <!-- <button type="button" routerLink="/painel/index" style="float:right" class="btn btn-xs btn-default">Voltar</button> -->
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Grato Sou</div>
      <div class="panel-body">
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-warning button-materiais" href="https://docs.google.com/uc?export=download&id=1M9zE5jbQ_FXWXktRk_ojU11ZRQ2DaVtI"
            download="Grato_Sou_Coral.pdf" target="_self">Partitura</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-primary button-materiais" href="https://docs.google.com/uc?export=download&id=1IZvpRw0rXPSOBidvY1h4QL12jiIC4no5"
            download="Grato_Sou_Completo.mp3" target="_self">Música</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://docs.google.com/uc?export=download&id=1VP_tJXJADlET8LHTecA_no4JtWYnzjJ5"
            download="KIT_Grato_Sou_Baixo.mp3" target="_self">Baixo</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://docs.google.com/uc?export=download&id=1qkuoMhBW2U1RDwz9wFD5_rDAQDthCBSj"
            download="KIT_Grato_Sou_Contralto.mp3" target="_self">Contralto</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://docs.google.com/uc?export=download&id=1ro88o0-fz1DCGKBJmVZJ2lsfCziBDHpL"
            download="KIT_Grato_Sou_Soprano.mp3" target="_self">Soprano</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://docs.google.com/uc?export=download&id=1yZihkpB15PjDd-Wj14jUbnk0H9PCmpM7"
            download="KIT_Grato_Sou_Tenor.mp3" target="_self">Tenor</a>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Rei da Glória</div>
      <div class="panel-body">
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-warning button-materiais" href="https://docs.google.com/uc?export=download&id=1oTSRcmhICRCPB9yeCzEbF88z6Y2Uol7g"
            download="Rei_da_Gloria_Coro.pdf" target="_self">Partitura</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-primary button-materiais" href="https://docs.google.com/uc?export=download&id=1Y_ScyymwEUpHm4HzmvDBuZYh2lIv0fb9"
            download="Rei_da_Gloria_Completo.mp3" target="_self">Música</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://docs.google.com/uc?export=download&id=1JbMKvFyU60LtnXpt0_b88N7We21pm2LQ"
            download="KIT_Rei_da_Gloria_baixo.mp3" target="_self">Baixo</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://docs.google.com/uc?export=download&id=1nF7SIWq-d2Hfy3QA1vUZhdcUmGtjXaeR"
            download="KIT_Rei_da_Gloria_contralto.mp3" target="_self">Contralto</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://docs.google.com/uc?export=download&id=116b72I3mafWjKP1fraOCveLIH_zoqTwF"
            download="KIT_Rei_da_Gloria_soprano.mp3" target="_self">Soprano</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://docs.google.com/uc?export=download&id=13A70o-er_OFo9SWBNHScCB3rxWNt6Sl-"
            download="KIT_Rei_da_Gloria_tenor.mp3" target="_self">Tenor</a>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Vem! Essa é a hora de Adoração</div>
      <div class="panel-body">
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-warning button-materiais" href="https://docs.google.com/uc?export=download&id=1-nAoPAt69dqaDQhbaFYD7rnztQehb32A"
            download="Vem_Essa_e_a_hora_de_Adoracao_Coro.pdf" target="_self">Partitura</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-primary button-materiais" href="https://docs.google.com/uc?export=download&id=1uRqDfDpntts8AknyhceGFAecr6d1rb4P"
            download="Vem_Essa_e_a_hora_de_Adoracao_Completo.mp3" target="_self">Música</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://docs.google.com/uc?export=download&id=1EAy6bmh1nHqry6S4i2qhA2MFmzUa-cxE"
            download="KIT_Vem_Essa_e_a_hora_de_Adoracao_Baixo.mp3" target="_self">Baixo</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://docs.google.com/uc?export=download&id=1O0xZFwBM5UUK6SFEcH9YI-b2A-VxkSHc"
            download="KIT_Vem_Essa_e_a_hora_de_Adoracao_Contralto.mp3" target="_self">Contralto</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://docs.google.com/uc?export=download&id=1y6qjLrrguGqsi2rGY4A_c9Ul6slWvujG"
            download="KIT_Vem_Essa_e_a_hora_de_Adoracao_Soprano.mp3" target="_self">Soprano</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://docs.google.com/uc?export=download&id=18FQnxd8wVx1WZFVb4RI4LSNIl_DneEhn"
            download="KIT_Vem_Essa_e_a_hora_de_Adoracao_Tenor.mp3" target="_self">Tenor</a>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">10.000 Razões</div>
      <div class="panel-body">
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-warning  button-materiais" href="https://docs.google.com/uc?export=download&id=1-Y5UekR7KWa8lwUbVU8wtOpIlSb4n2nH"
            download="10000_Razoes_Coro.pdf" target="_self">Partitura</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-primary button-materiais" href="https://docs.google.com/uc?export=download&id=1dhs87cmWohQdcs4hF8d-InCkMQozfuH3"
            download="10000_Razoes_Completo.mp3" target="_self">Música</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://docs.google.com/uc?export=download&id=1bXXphwNLBHC8USwBH9BekcM6dtxh8YJs"
            download="KIT_10000_Razoes_Baixo.mp3" target="_self">Baixo</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://docs.google.com/uc?export=download&id=151dULwgwCdgQ_PUP3C2Sp7GvNK9XhAzy"
            download="KIT_10000_Razoes_Contralto.mp3" target="_self">Contralto</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://docs.google.com/uc?export=download&id=1OIpVIBwm6CvbaRE9AAAJkb7kfxhbVJZY"
            download="KIT_10000_Razoes_Soprano.mp3" target="_self">Soprano</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://docs.google.com/uc?export=download&id=18yDrjAFfDdEEREw3h9_-s6fOSjs6Imnn"
            download="KIT_10000_Razoes_Tenor.mp3" target="_self">Tenor</a>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Comigo Estás</div>
      <div class="panel-body">
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-warning  button-materiais" href="https://docs.google.com/uc?export=download&id=1Ry4Zan89RE8JCQfE2Ywy5VM7-7EF5bDa"
            download="Comigo_Estas_Coro.pdf" target="_self">Partitura</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-primary button-materiais" href="https://docs.google.com/uc?export=download&id=1OjT1tM3T6gv85t9gLEvJTJLdnMe9lvvE"
            download="Comigo_Estas_Completo.mp3" target="_self">Música</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://docs.google.com/uc?export=download&id=1ajP6bb3WHAIp3V2hOQv7hpmB5mw5HRh8"
            download="KIT_Comigo_Estas_Baixo.mp3" target="_self">Baixo</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://docs.google.com/uc?export=download&id=1-wsRk9nG8C2xtetRWugO3iawXPX8k-64"
            download="KIT_Comigo_Estas_Contralto.mp3" target="_self">Contralto</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://docs.google.com/uc?export=download&id=13qerEeKPDeWcR5bilNIgqeMgYxciVrVs"
            download="KIT_Comigo_Estas_Soprano.mp3" target="_self">Soprano</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://docs.google.com/uc?export=download&id=1ecpNZ7vs174miImol8hWWKdHdB_un2Cq"
            download="KIT_Comigo_Estas_Tenor.mp3" target="_self">Tenor</a>
        </div>
      </div>
    </div>
  </div>
</div>