<div class="user-panel row">
  <div class="col-sm-12">
    <br>
    <div class="panel" style="margin-bottom:0!important;background:none;">
      <div class="panel-heading" style="height:50px;font-size:14px;font-weight:bold;color:white">
        <span style="float:left">Materiais</span>
        <button type="button" routerLink="/painel/index" style="float:right" class="btn btn-xs btn-default">Voltar</button>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading" style="font-size:14px;">Grato Sou</div>
      <div class="panel-body">
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-danger button-materiais" href="/assets/files/coralnh/materiais/grato_sou/Grato_Sou_Coral.pdf"
            download="Grato_Sou_Coral.pdf" target="_self">Partitura</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-warning button-materiais" href="/https://firebasestorage.googleapis.com/v0/b/jovensnh-coral.appspot.com/o/kits%2Fgrato_sou%2FGRATO_SOU_COMPLETO.mp3?alt=media&token=15ec798b-ccc6-4c03-89a5-6d6c5f8e94c5"
            download="GRATO_SOU_COMPLETO.mp3" target="_self">Música</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="https://firebasestorage.googleapis.com/v0/b/jovensnh-coral.appspot.com/o/kits%2Fgrato_sou%2FGRATO_SOU_BAIXO.mp3?alt=media&token=fb0b1fff-dd84-4a5a-ab2d-45059708de4a"
            download="GRATO_SOU_BAIXO.mp3" target="_self">Baixo</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="/assets/files/coralnh/materiais/grato_sou/GRATO_SOU_CONTRALTO.mp3"
            download="GRATO_SOU_CONTRALTO.mp3" target="_self">Contralto</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="/assets/files/coralnh/materiais/grato_sou/GRATO_SOU_SOPRANO.mp3"
            download="GRATO_SOU_SOPRANO.mp3" target="_self">Soprano</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="/assets/files/coralnh/materiais/grato_sou/GRATO_SOU_TENOR.mp3"
            download="GRATO_SOU_TENOR.mp3" target="_self">Tenor</a>
        </div>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading" style="font-size:14px;">Rei da Glória</div>
      <div class="panel-body">
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-danger button-materiais" href="/assets/files/coralnh/materiais/rei_da_gloria/Rei_da_Gloria_Coro.pdf"
            download="Rei_da_Gloria_Coro.pdf" target="_self">Partitura</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-warning button-materiais" href="/assets/files/coralnh/materiais/rei_da_gloria/Rei_da_Gloria_Completo.mp3"
            download="Rei_da_Gloria_Completo.mp3" target="_self">Música</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="/assets/files/coralnh/materiais/rei_da_gloria/KIT_Rei_da_Gloria_baixo.mp3"
            download="KIT_Rei_da_Gloria_baixo.mp3" target="_self">Baixo</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="/assets/files/coralnh/materiais/rei_da_gloria/KIT_Rei_da_Gloria_contralto.mp3"
            download="KIT_Rei_da_Gloria_contralto.mp3" target="_self">Contralto</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="/assets/files/coralnh/materiais/rei_da_gloria/KIT_Rei_da_Gloria_soprano.mp3"
            download="KIT_Rei_da_Gloria_soprano.mp3" target="_self">Soprano</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="/assets/files/coralnh/materiais/rei_da_gloria/KIT_Rei_da_Gloria_tenor.mp3"
            download="KIT_Rei_da_Gloria_tenor.mp3" target="_self">Tenor</a>
        </div>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading" style="font-size:14px;">Vem! Essa é a hora de Adoração</div>
      <div class="panel-body">
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-danger button-materiais" href="/assets/files/coralnh/materiais/vem_hora_de_adoracao/Vem_Essa_e_a_hora_de_Adoracao_Coro.pdf"
            download="Vem_Essa_e_a_hora_de_Adoracao_Coro.pdf" target="_self">Partitura</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-warning button-materiais" href="/assets/files/coralnh/materiais/vem_hora_de_adoracao/completo.mp3"
            download="completo.mp3" target="_self">Música</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="/assets/files/coralnh/materiais/vem_hora_de_adoracao/baixo.mp3"
            download="baixo.mp3" target="_self">Baixo</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="/assets/files/coralnh/materiais/vem_hora_de_adoracao/contralto.mp3"
            download="contralto.mp3" target="_self">Contralto</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="/assets/files/coralnh/materiais/vem_hora_de_adoracao/soprano.mp3"
            download="soprano.mp3" target="_self">Soprano</a>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-md btn-block btn-info button-materiais" href="/assets/files/coralnh/materiais/vem_hora_de_adoracao/tenor.mp3"
            download="tenor.mp3" target="_self">Tenor</a>
        </div>
      </div>
    </div>
  </div>
</div>