<!DOCTYPE html>
<html>

<head>
    <base href="/">
  <!-- Stylesheets -->
  <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Quicksand" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Scripts -->
  <!-- <script src="/assets/scripts/jquery-1.10.2.js"></script> -->

  <!-- Icon -->
  <link rel="icon" type="image/x-icon" href="/assets/images/coralnh/logo-preto-e-azulng.png">

  <!-- Title -->
  <title>Coral Jovem de Novo Hamburgo</title>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div style="margin-top:14px;">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">
          <img class="logo" src="/assets/images/coralnh/logo-branco-e-azul.png" style="height:94px" />
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <div style="float:left;padding-left:50px">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a>Home</a>
            </li>
            <li>
              <a>"O Grupo"</a>
            </li>
            <li>
              <a>Calendário</a>
            </li>
            <li>
              <a>Galeria</a>
            </li>
            <li>
              <a>Contato</a>
            </li>
            <li>
              <a>Contato</a>
            </li>
            <li>
              <a>Contato</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </nav>
  <div class="background-shadow" data-ix="show-nav"></div>
  <div class="container body-content c_container" style="margin-top:70px !important;">
    <app-root>Loading...</app-root>
  </div>
  <footer id="footerDefault" class="footer-custom">
      <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
          <h6 style="color:white;text-align:center;margin-top: 10%;">&copy; 2017 - coralnh.com.br</h6>
        </div>
        <div class="col-sm-4">
          <div style="font-size:32px;margin-top:7%" class="col-md-5 text-center">
            <a class="fa fa-spotify c_text-shadow_blue" href="spotify:artist:7ec9N1DHWwqnjWX9vG0yhM"></a>
            <a target="_blank" class="fa fa-facebook-square c_text-shadow_blue" href="https://www.facebook.com/coraljovemnh/"></a>
            <a target="_blank" class="fa fa-youtube c_text-shadow_blue" href="https://www.youtube.com/channel/UCFPNVYPFwn4MbMz4juWi5ZQ"></a>
            <a target="_blank" class="fa fa-instagram c_text-shadow_blue" href="http://www.instagram.com/coraljovemnh/"></a>
          </div>
        </div>
      </div>
    </footer>    
</body>
</html>