<body>
  <div class="container">
    <div class="row" style="height:64px">
      <img id="logovertical" height="64" src="./assets/images/janovohamburgo/vertical-logo-p.png">
    </div>
    <div class="user-header row">
      <div class="col-sm-9">
        <h1 class="text-header-left" style="font-weight:bold">Bem vindo(a), </h1>
        <h2 class="text-header-left"> Roger Zabka da Costa</h2>
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-sm btn-danger">logoff</button>
      </div>
    </div>
    <div class="user-panel row">
      <div class="col-sm-4">
        <br>
        <div class="panel panel-info">
          <div class="panel-heading" style="font-size:10px;">Coral Jovem de Novo Hamburgo</div>
          <div class="panel-body">
            <button type="button" class="btn btn-md btn-block btn-info">Materiais</button>
            <button type="button" class="btn btn-md btn-block btn-info">Inscrições</button>
            <button type="button" class="btn btn-md btn-block btn-info">Financeiro</button>
            <button type="button" class="btn btn-md btn-block btn-info">Chamada</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <br>
        <div class="panel panel-primary">
          <div class="panel-heading" style="font-size:10px;">Jovens / Escola Sabatina</div>
          <div class="panel-body">
            <button type="button" class="btn btn-md btn-block btn-primary">Materiais</button>
            <button type="button" class="btn btn-md btn-block btn-primary">Inscrições</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <br>
        <div class="panel panel-warning">
          <div class="panel-heading" style="font-size:10px;">Próximas Datas</div>
          <div class="panel-body">
            <div class="panel panel-default">
              <div class="panel-body">
                <h1 style="font-size:12px;font-weight:bold;">
                  25/02/2018
                </h1>
                <h2 style="font-size:10px;font-weight:bold;">
                  Apresentação na IASD Central de Novo Hamburgo
                </h2>
                <p style="font-size:10px;">
                  Alguma coisa foi agendada para este dia
                </p>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-body">
                <h1 style="font-size:12px;font-weight:bold;">
                  25/02/2018
                </h1>
                <h2 style="font-size:10px;font-weight:bold;">
                  Apresentação na IASD Central de Novo Hamburgo
                </h2>
                <p style="font-size:10px;">
                  Alguma coisa foi agendada para este dia
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="user-notifications row">
      <br>
      <div class="col-sm-12">
        <div class="panel panel-danger">
          <div class="panel-heading" style="font-size:10px;">Informações Gerais</div>
          <div class="panel-body">
            <div class="col-sm-6">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h1 style="font-size:12px;font-weight:bold;">
                    25/02/2018
                  </h1>
                  <h2 style="font-size:10px;font-weight:bold;">
                    Apresentação na IASD Central de Novo Hamburgo
                  </h2>
                  <p style="font-size:10px;">
                    Roupa preta.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h1 style="font-size:12px;font-weight:bold;">
                    25/02/2018
                  </h1>
                  <h2 style="font-size:10px;font-weight:bold;">
                    Apresentação na IASD Central de Novo Hamburgo
                  </h2>
                  <p style="font-size:10px;">
                      Roupa preta.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>