<div class="container" style="background:black;height:100%">

  <div class="row">
    <div class="col=sm-12 painel">
      <div class="col-sm-4">
          <button type="button" routerLink="/painel/chamada" class="btn btn-md btn-block btn-danger">Chamada</button>
      </div>
      <div class="col-sm-4">
          <button type="button" routerLink="/painel/chamada" class="btn btn-md btn-block btn-danger">Financeiro</button>
      </div>
      <div class="col-sm-4">
          <button type="button" routerLink="/painel/chamada" class="btn btn-md btn-block btn-danger">Inscrições</button>
      </div>
    </div>
  </div>

</div>