<div style="height:400px">
  <div id="coluna-um-home" class="col-sm-4">
    <img class="sbv" src="/assets/images/coralnh/sbv-azul.png">
  </div>
  <div id="coluna-dois-home" class="col-sm-4">
    <img class="capaCD" src="/assets/images/coralnh/capa_cd.jpg">
  </div>
  <div id="coluna-tres-home" class="col-sm-4">
    <div>
      <div class="text-center">
        Morbi aliquam lorem in porta dictum. Nam a blandit odio. Morbi fermentum consectetur mauris, id suscipit turpis consectetur
        at.
      </div>
    </div>
  </div>
</div>