<div class="content-home">
  <div id="coluna-um-home" class="col-sm-3">
    <div>
      <div class="text-center text-welcome">
        Seja Bem Vindo
      </div>
    </div>
  </div>
  <div id="coluna-dois-home" class="col-sm-3">
    <img class="capaCD" src="/assets/images/coralnh/capa_cd.jpg">
  </div>
  <div id="coluna-tres-home" class="col-sm-5">
    <div class="background-text-home">
      <div class="text-center" style="font-size:12px;margin:10px">
        O Coral Jovem de Novo Hamburgo está há mais de 20 anos louvando e engrandecendo o nome de Deus. Com uma história iniciada
        em 1996, já gravou três CDs e participou em outras duas coletâneas cristãs. Com mais de 100 vozes compondo o grupo,
        foi criado com o objetivo de envolver os jovens da Igreja Adventista Central de Novo Hamburgo e região na missão
        de levar a Palavra de Deus por meio da música. Com a realização deste ministério, rendemos toda a honra, glória e
        gratidão a Deus, que nos permite usar nossas vozes para Seu louvor. Nosso maior desejo é aproximar as pessoas de
        Cristo e, assim, ficarmos mais perto do Céu!
      </div>
    </div>
  </div>
</div>