#botao_inscricao{
    margin-top: 35px;
}

#botao_validar{
    margin-top: 35px;
}

#descricao{
    margin-top: 20px;
}

#locomocao{
    margin-top: 20px; 
}

#title{
    font-size:26px;
}

.esgotado{
    color: red;
    font-size: 14px;
}
.radio-group-pagamento {
    display: inline-flex;
    flex-direction: column;
  }

.dados-user{
      margin-top: 20px;
  }
a {
    color: blue !important;
}
a:hover {
    color: blue;
}