<div class="user-panel row">
  <div class="col-sm-12">
    <br>
    <div class="panel" style="margin-bottom:0!important;background:none;">
      <div class="panel-heading">
        <h1 class="text-center" id="title">
          <strong>Apresentações</strong>
        </h1>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading" (click)="showEvento()" style="cursor: pointer">{{ eventos[0].local }} - {{ eventos[0].data }}</div>
      <div class="panel-body" [hidden]="hideEvento">
        <div class="col-sm-4"id="descricao" >
          <h3>
            <strong>Data: </strong>{{ eventos[0].data }}</h3>
          <h3>
            <strong>Horário: </strong>18:00h</h3>
          <h3>
            <strong>Local: </strong>Rua Coberta - Gramado</h3>
          <h3>
            <strong>Descrição: </strong>Cantata de páscoa.</h3>
          <h3>
            <strong>Valor do ônibus: </strong>R$10,00</h3>
        </div>
        <form class="formwidth" (ngSubmit)="salvar(myForm)" #myForm="ngForm">
          <div class="col-sm-3">
            <mat-input-container class="fullwidth">
              <input matInput placeholder="Nome Completo" maxlength="50" id="Nome" [(ngModel)]="inscricaoEvento.Nome" name="Nome" required>
            </mat-input-container>
            <mat-input-container class="fullwidth">
              <input matInput placeholder="RG" id="RG" [(ngModel)]="inscricaoEvento.RG" name="RG" maxlength="11" required>
          </mat-input-container>
          </div>

          <div class="col-sm-3" id="locomocao">
            <div>
              <label class="example-margin">Você pretende ir de:</label>
            </div>
            <mat-radio-group [(ngModel)]="inscricaoEvento.Automovel" name="my_options">

              <div *ngFor="let value of values">
                <mat-radio-button required value="{{value.value}}" color="primary">{{value.text}}</mat-radio-button>
              </div>

            </mat-radio-group>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-md btn-block btn-primary center-block" id="botao_inscricao" (click)="salvar(myForm)" [disabled]="disableButton" type="submit">{{buttonText}}</button>
          </div>
        </form>
      </div>
    </div>
    <div id="modal-evento" class="modal fade close" role="dialog" data-toggle="modal" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
              <div style="color:black!important;text-align:center;" class="modal-body">
                  <span>{{modalMessage}}</span>
              </div>
          </div>
      </div>
  </div>
  </div>