<div class="user-panel row">
  <div class="col-sm-12">
    <br>
    <div class="panel" style="margin-bottom:0!important;background:none;">
      <div class="panel-heading">
        <h1 class="text-center" id="title">
          <strong>Apresentações</strong>
        </h1>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading" (click)="showEvento()" style="cursor: pointer">{{ eventos[0].local }} - {{ eventos[0].data }}</div>
      <div class="panel-body" [hidden]="eventos[0].hidden">
        <div class="col-sm-4" id="descricao">
          <h3>
            <strong>Data: </strong>{{ eventos[0].data }}</h3>
          <h3>
            <strong>Horário: </strong>18:00h</h3>
          <h3>
            <strong>Local: </strong>Rua Coberta - Gramado</h3>
          <h3>
            <strong>Descrição: </strong>Cantata de páscoa.</h3>
          <h3>
            <strong>Valor do ônibus: </strong>R$10,00</h3>
        </div>
        <form class="formwidth" (ngSubmit)="salvar(myForm)" #myForm="ngForm">
          <div class="col-sm-3">
            <mat-input-container class="fullwidth">
              <input matInput placeholder="Nome Completo" maxlength="50" id="Nome" [(ngModel)]="inscricaoEvento.Nome" name="Nome" required>
            </mat-input-container>
            <mat-input-container class="fullwidth">
              <input matInput placeholder="RG" id="RG" [(ngModel)]="inscricaoEvento.RG" name="RG" maxlength="11" required>
            </mat-input-container>
          </div>

          <div class="col-sm-3" id="locomocao">
            <div>
              <label class="example-margin">Você pretende ir de:</label>
            </div>
            <mat-radio-group [(ngModel)]="inscricaoEvento.Automovel" name="automovel_1">
              <div>
                <mat-radio-button required value="{{values[0].value}}" color="primary">{{values[0].text}}</mat-radio-button>
                <mat-radio-button required value="{{values[1].value}}" color="primary" [disabled]="true">{{values[1].text}}</mat-radio-button>
              </div>
            </mat-radio-group>
            <div class="esgotado" [hidden]="false">Ônibus esgotado</div>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-md btn-block btn-primary center-block" id="botao_inscricao" (click)="salvar(myForm)" [disabled]="disableButton"
              type="submit">{{saveButtonText}}</button>
          </div>
        </form>
      </div>
    </div>
    <div id="modal-evento" class="modal fade close" role="dialog" data-toggle="modal" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div style="color:black!important;text-align:center;" class="modal-body">
            <span>{{modalMessage}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading" (click)="showEvento()" style="cursor: pointer">{{ eventos[1].local }} - {{eventos[1].data | date:'dd/MM/yyyy'}}</div>
      <div class="panel-body" [hidden]="eventos[1].hidden">
        <div class="col-sm-4" id="descricao">
          <h3>
            <strong>Data: </strong>{{eventos[1].data | date:'dd/MM/yyyy'}}</h3>
          <h3>
            <strong>Horário: </strong>{{ eventos[1].horario }}</h3>
          <h3>
            <strong>Local: </strong>Igreja Adventista Central de São Leopoldo</h3>
          <h3>
            <strong>Endereço: </strong>
            <a href="https://goo.gl/maps/a56PCWjvo5M2" target="_blank">{{ eventos[1].endereco }}</a>
          </h3>
          <h3>
            <strong>Valor do ônibus: </strong>{{ eventos[1].valor }}</h3>
        </div>
        <form class="formwidth" (ngSubmit)="salvar(myForm)" #myForm="ngForm">
          <div class="col-sm-3">
            <mat-input-container class="fullwidth">
              <input matInput placeholder="Nome Completo" maxlength="50" id="Nome" [(ngModel)]="inscricaoEvento.Nome" name="Nome" required>
            </mat-input-container>
            <mat-input-container class="fullwidth">
              <input matInput placeholder="RG" id="RG" [(ngModel)]="inscricaoEvento.RG" name="RG" maxlength="11" required>
            </mat-input-container>
          </div>

          <div class="col-sm-3" id="locomocao">
            <div>
              <label class="example-margin">Você pretende ir de:</label>
            </div>
            <mat-radio-group [(ngModel)]="inscricaoEvento.Automovel" name="automovel_2">
              <div>
                <mat-radio-button required value="{{values[0].value}}" color="primary">{{values[0].text}}</mat-radio-button>
                <mat-radio-button required value="{{values[1].value}}" color="primary" [disabled]="!flagEsgotado">{{values[1].text}}</mat-radio-button>
              </div>
            </mat-radio-group>
            <div class="esgotado" [hidden]="flagEsgotado">Ônibus esgotado</div>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-md btn-block btn-primary center-block" id="botao_inscricao" (click)="salvar(myForm)" [disabled]="disableButton"
              type="submit">{{saveButtonText}}</button>
          </div>
        </form>
      </div>
    </div>
    <div id="modal-evento" class="modal fade close" role="dialog" data-toggle="modal" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div style="color:black!important;text-align:center;" class="modal-body">
            <span>{{modalMessage}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading" (click)="showEvento()" style="cursor: pointer">{{ eventos[2].local }} - {{ eventos[2].data }} </div>
      <div class="panel-body" [hidden]="eventos[2].hidden">
        <div class="col-sm-4" id="descricao">
          <h3>
            <strong>Data: </strong>{{ eventos[2].data }}</h3>
          <h3>
            <strong>Descrição: </strong>{{ eventos[2].descricao }}</h3>
          <h3>
            <strong>Valor: </strong>{{ eventos[2].valor }}</h3>
        </div>
        <form class="formwidth" #formValidation="ngForm">
          <div class="col-sm-3">
            <mat-input-container class="fullwidth">
              <input matInput placeholder="RG" id="RG" [(ngModel)]="inscricaoViagem.RG" name="RG" minlength="10" maxlength="10" required>
              <mat-hint align="start">
                <strong>Digite o seu RG para validar os seus dados</strong>
              </mat-hint>
            </mat-input-container>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-md btn-block btn-primary center-block" id="botao_validar" (click)="validar(formValidation)" [disabled]="disableButton"
              type="submit">{{validationButtonText}}</button>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-12">
            <div class="row justify-content-center">
              <div class="col-sm-12 dados-user" align="center">
                <strong>Verifique os seus dados abaixo:</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <mat-input-container class="fullwidth">
                  <input matInput placeholder="Nome Completo" maxlength="50" id="Nome" [(ngModel)]="inscricaoViagem.Nome" name="Nome">
                </mat-input-container>
              </div>
              <div class="col-sm-3">
                <mat-input-container class="fullwidth">
                  <input matInput placeholder="Email" maxlength="40" id="Email" [(ngModel)]="inscricaoViagem.Email" name="Email">
                </mat-input-container>
              </div>
              <div class="col-sm-3">
                <mat-input-container class="fullwidth">
                  <input matInput placeholder="Celular" maxlength="15" id="Celular" [(ngModel)]="inscricaoViagem.Celular" name="Celular">
                </mat-input-container>
              </div>
              <div class="col-sm-3">
                <mat-input-container class="fullwidth">
                  <input matInput placeholder="CPF" maxlength="11" id="CPF" [(ngModel)]="inscricaoViagem.CPF" name="CPF" required>
                </mat-input-container>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div>
                  <label class="example-margin">Forma de Pagamento:</label>
                </div>
                <mat-form-field>
                  <mat-select placeholder="Selecione uma opção" [(ngModel)]="inscricaoViagem.Pagamento" (change)="onChange($event)">
                    <mat-option *ngFor="let item of forma_pagamento" [value]="item.value">
                      {{ item.text }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-3" id="forma_pagamentos">
                <div>
                  <label class="example-margin">Parcelas:</label>
                </div>
                <mat-radio-group class="radio-group-pagamento" [(ngModel)]="inscricaoViagem.Parcela" name="radio-group-pagamento">
                  <mat-radio-button color="primary" *ngFor="let pagamento of pagamentos" [value]="pagamento.value">
                    {{pagamento.text}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-sm-3">
                <mat-input-container class="fullwidth">
                  <input matInput placeholder="Responsável" maxlength="100" id="responsvel" [(ngModel)]="inscricaoViagem.Responsavel" name="Responsavel">
                  <mat-hint align="start">
                    <strong>Somente para menores de 18 anos</strong>
                  </mat-hint>
                </mat-input-container>
              </div>
              <div class="col-sm-2">
                <button class="btn btn-md btn-block btn-primary center-block" id="saveViagemButton" (click)="salvarViagem(formValidation)"
                  [disabled]="disableButton" type="submit">{{saveButtonText}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-evento" class="modal fade +,close" role="dialog" data-toggle="modal" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div style="color:black!important;text-align:center;" class="modal-body">
            <span>{{modalMessage}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>