<div class="about-body">
    <div class="about-content">
        <div class="title-content-custom">
            <h2 style="margin-left:10px;color:white;">O Coral</h2>
        </div>
        <div class="col-sm-12" style="margin-bottom:20px;">
            <div class="col-sm-4 image-about">
                <img src="/assets/images/coralnh/old/3.png">
            </div>
            <div class="col-sm-8">
                <p class="text">
                    O Coral Jovem de Novo Hamburgo está há mais de 20 anos louvando e engrandecendo o nome de Deus. Com uma história iniciada
                    em 1996, já gravou três CDs e participou em outras duas coletâneas cristãs. Com mais de 100 vozes compondo
                    o grupo, foi criado com o objetivo de envolver os jovens da Igreja Adventista Central de Novo Hamburgo
                    e região na missão de levar a Palavra de Deus por meio da música. Com a realização deste ministério,
                    rendemos toda a honra, glória e gratidão a Deus, que nos permite usar nossas vozes para Seu louvor. Nosso
                    maior desejo é aproximar as pessoas de Cristo e, assim, ficarmos mais perto do Céu!
                </p>
            </div>
        </div>
        <div class="col-sm-12" style="margin-bottom:20px;">
            <div class="col-sm-4 image-about">
                <img src="/assets/images/coralnh/old/4.png">
            </div>
            <div class="col-sm-8">
                <p class="text">
                    O Coral Jovem de Novo Hamburgo está há mais de 20 anos louvando e engrandecendo o nome de Deus. Com uma história iniciada
                    em 1996, já gravou três CDs e participou em outras duas coletâneas cristãs. Com mais de 100 vozes compondo
                    o grupo, foi criado com o objetivo de envolver os jovens da Igreja Adventista Central de Novo Hamburgo
                    e região na missão de levar a Palavra de Deus por meio da música. Com a realização deste ministério,
                    rendemos toda a honra, glória e gratidão a Deus, que nos permite usar nossas vozes para Seu louvor. Nosso
                    maior desejo é aproximar as pessoas de Cristo e, assim, ficarmos mais perto do Céu!
                </p>
            </div>
        </div>
        <div class="col-sm-12" style="margin-bottom:20px;">
            <div class="col-sm-4 image-about">
                <img src="/assets/images/coralnh/old/2.png">
            </div>
            <div class="col-sm-8">
                <p class="text">
                    O Coral Jovem de Novo Hamburgo está há mais de 20 anos louvando e engrandecendo o nome de Deus. Com uma história iniciada
                    em 1996, já gravou três CDs e participou em outras duas coletâneas cristãs. Com mais de 100 vozes compondo
                    o grupo, foi criado com o objetivo de envolver os jovens da Igreja Adventista Central de Novo Hamburgo
                    e região na missão de levar a Palavra de Deus por meio da música. Com a realização deste ministério,
                    rendemos toda a honra, glória e gratidão a Deus, que nos permite usar nossas vozes para Seu louvor. Nosso
                    maior desejo é aproximar as pessoas de Cristo e, assim, ficarmos mais perto do Céu!
                </p>
            </div>
        </div>
        <div class="col-sm-12" style="margin-bottom:20px;">
            <div class="col-sm-4 image-about">
                <img src="/assets/images/coralnh/old/1.png">
            </div>
            <div class="col-sm-8">
                <p class="text">
                    O Coral Jovem de Novo Hamburgo está há mais de 20 anos louvando e engrandecendo o nome de Deus. Com uma história iniciada
                    em 1996, já gravou três CDs e participou em outras duas coletâneas cristãs. Com mais de 100 vozes compondo
                    o grupo, foi criado com o objetivo de envolver os jovens da Igreja Adventista Central de Novo Hamburgo
                    e região na missão de levar a Palavra de Deus por meio da música. Com a realização deste ministério,
                    rendemos toda a honra, glória e gratidão a Deus, que nos permite usar nossas vozes para Seu louvor. Nosso
                    maior desejo é aproximar as pessoas de Cristo e, assim, ficarmos mais perto do Céu!
                </p>
            </div>
        </div>
    </div>
</div>