<!DOCTYPE html>
<html>

<head>
  <!-- Icon -->
  <link rel="icon" type="image/x-icon" href="/assets/images/janovohamburgo/jovens-adventistas.png">

  <!-- Title -->
  <title>Jovens Adventistas - Novo Hamburgo</title>
</head>

<body>
  <div id="containerindex" class="container">

    <div clas="col-sm-12" style="min-height:150px;">
      <br>
      <br>
      <img id="logovertical" class="align-center" src="./assets/images/janovohamburgo/vertical-logo-b.png">
    </div>

    <div clas="col-sm-12" style="min-height:150px;">
      <div id="descriptionindex" class="col-sm-12 align-center text-center">
        Experimente reunir pessoas com os mais variados talentos e explorar essas virtudes ao máximo.
        Elevar a criatividade a um nível potente, capaz de mobilizar as pessoas, funcionando como uma espécie de vírus que
        se espalha progressivamente.
        Essa é a ideia de um projeto que nasceu para ser relevante.
        Um projeto que nasceu para ser vertical.
      </div>
      <br>
    </div>

    <div clas="col-sm-12" style="min-height:150px;">
      <div class="col-sm-6">
        <img id="logocoral" src="./assets/images/janovohamburgo/coral-logo-branco-e-azul.png">
        <div style="clear:right"></div>
        <button id="btnCoralJovemNH" type="button" (click)="BtnCoralClick()" class="btn btn-info align-center">acesse o site</button>
        <br>
      </div>
      <div class="col-sm-6">
        <img id="logoescolasabatina" src="./assets/images/janovohamburgo/escola-sabatina.png">
        <div style="clear:left"></div>
        <button id="btnEscolaSabatina" type="button" disabled class="btn btn-primary align-center">em breve!</button>
        <br>
      </div>
    </div>

    <div clas="col-sm-12" style="height:auto;">
      <img id="logoja" class="align-center" src="./assets/images/janovohamburgo/jovens-adventistas.png">
    </div>

  </div>
</body>

</html>