<!DOCTYPE html>
<html>

<head>
    <base href="/">
  <!-- Stylesheets -->
  <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Quicksand" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Scripts -->
  <!-- <script src="/assets/scripts/jquery-1.10.2.js"></script> -->

  <!-- Icon -->
  <link rel="icon" type="image/x-icon" href="/assets/images/janovohamburgo/jovens-adventistas.png">

  <!-- Title -->
  <title>Jovens Adventistas - Novo Hamburgo</title>
</head>

<body>
  <div id="containerindex" class="container">

    <div clas="col-sm-12" style="min-height:150px;">
      <br>
      <br>
      <img id="logovertical" class="align-center" src="./assets/images/janovohamburgo/vertical-logo-b.png">
    </div>

    <div clas="col-sm-12" style="min-height:150px;">
      <p id="descriptionindex" class="align-center text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet odio in justo faucibus molestie sit amet sed risus.
        Vivamus at tempor lectus. Maecenas euismod metus vel ex mattis, vestibulum tincidunt mi egestas. Suspendisse tristique
        ac lectus eu ornare. In congue facilisis est et tincidunt. Donec nibh arcu, accumsan sit amet dolor egestas, vulputate
        suscipit elit. Etiam nec sapien ut neque blandit rutrum.
      </p>
      <button type="button" class="btn btn-default align-center">saiba mais</button>
      <br>
    </div>

    <div clas="col-sm-12" style="min-height:150px;">
      <div class="col-sm-6">
        <img id="logocoral" src="./assets/images/janovohamburgo/coral-logo-branco-e-azul.png">
        <div style="clear:right"></div>
        <a id="btnCoralJovemNH" routerLink="/coralnh"  type="button" class="btn btn-info align-center">acesse o site</a>
        <br>
      </div>
      <div class="col-sm-6">
        <img id="logoescolasabatina" src="./assets/images/janovohamburgo/escola-sabatina.png">
        <div style="clear:left"></div>
        <button id="btnEscolaSabatina" type="button" class="btn btn-primary align-center">acesse o site</button>
        <br>
      </div>
    </div>

    <div clas="col-sm-12" style="height:auto;">
      <img id="logoja" class="align-center" src="./assets/images/janovohamburgo/jovens-adventistas.png">
    </div>

  </div>
</body>
</html>